:root{
    --grey-100: #333333;
    --grey-50: #828282;
    --grey-0: #F5F5F5;

    --color-primary: #2E245E;
    --color-secondary: #37268C;
}

body{
    color: var(--grey-100);
    font-family: 'Inter', sans-serif;
    
}

header{
    display: flex;
    justify-content: space-between;
    padding: 0 125px;
    align-items: center;
    box-shadow: 0 4px 30px -10px rgba(0,0,0,0.25);
    height: 65px;
}


header ul{
    display: flex;
    justify-content: space-around;
    width: 350px;
    list-style-type: none;
}

a{
    color: inherit;
    text-decoration: none;
}

.main-content{
    display: flex;
    justify-content: space-between;
    gap: 80px;
    padding: 50px 115px;
}

.clothes-list{
    display:flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 0;
}

.card{
    display: flex;
    flex-direction: column;
    max-width: 296px;
    border: 1px solid var(--grey-0);
    border-radius: 1px;
    
    
}

.card figure{
    width: 100%;
    align-self: center;
    background-color: var(--grey-0);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}

.card figcaption{
    display: none;
}

.card section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 296px;
    padding: 0 10px 20px 10px;
}

.card .category{
    background-color: var(--color-primary);
    color: white;
    padding: 5px 6px;
    box-shadow: 1px 1px 2px 2px var(--color-primary);
}

.font-small-size{
    font-size: 14px;
}


aside{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-box{
    display: flex;
    justify-content: space-between;
    width: 347px;
    height: 50px;
    gap: 8px;
}

.search-box input{
    background-color: var(--grey-0);
    width: 246px;
    
}

.search-box button{
    background-color: var(--color-secondary);
    color: white;
    width: 96px
}

.shopping-cart{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px; 
}

.shopping-cart h3{
    background-color: var(--color-secondary);
    color: white;
    text-align: center;
    width: 100%;
    padding: 15px 0;
    margin: 0 auto;
}

.shopping-cart-inside{
    width: 100%;
    border: 1px solid var(--grey-0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 214px;
    background-color: var(--grey-0)
}

.shopping-cart-inside h4, .shopping-cart-inside p{
    margin: 10px 0;
}